{%extends 'main.html'%}
{% block title %} 
    Добавление
{%endblock%}
{% block content %}     
    <form action="/add/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p><b>Имя:</b> <input type = "text" name = "first_name"></p>
        <p><b>Фамилия:</b> <input type = "text" name = "last_name"></p>
        <p><b>Email:</b> <input type = "email" name = "email"><br></p>
        <p><b>Telegram:</b> <input type = "text" name = "telegram"><br></p>
        <p><b>Комната:</b> <input type = "text" name = "room"><br></p>
        <p><b>Лицо:</b> <input type = "file" name = "avatar"><br></p>
        <b>Направление:</b>
        {% csrf_token %}
        <select name="select1" size="1">
            <option value="">Нет</option>
            {% for cours in courses%}
                <option value="{{ cours.id }}">{{cours.name}}</option>
            {% endfor %}
        </select>
        <p>
        <b>Доролнения:</b><input type = "textfield" name = "discription">
        </p>
        <input type="submit" value="Добавить">
    </form>
    {%endblock%}